* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #344C36; 
  color: #1a1a1a;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  padding-top: 90px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}